:root {
    --first-color: rgb(47, 185, 175);
    --second-color: #EFEFFBff;
    --third-color: rgb(50, 160, 149);
    --fourth-color: rgb(215, 75, 77);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;    
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
}

a {
    color: var(--first-color);
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Open-sans", sans-serif;
    background-color: #FFFFFF;
    color: var(--first-color);
}

/* .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
    }
    
    @media (min-width: 1280px) { */
        .container {
            max-width: 1158px;
            margin: 0 auto;
            padding: 0 156px;
        }
    /* } */


.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: var(--fourth-color);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header-logo-svg {
    width: 120px;
    height: 20px;
    background-color: var(--first-color);
}

.header-logo-span {
    color: var(--first-color);
    text-transform: uppercase;
}

.contact {
    display: flex;
    gap: 18px;
}

.header-item {
    max-width: 150px;
}

.header-item-svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--first-color);
}

/* .header-tel {
    display: flex;
    flex-direction: column;
    
} */

.header-tel-link {
    color: var(--first-color);
    padding: 6px 6px;
}

.header-tel-icon {}

.header-tel-span {
    color: var(--fourth-color);
    text-transform: uppercase;
    padding: 0 6px 0;
}

.contact {
    display: flex;
}

.header-tel {}

/* .header-schedule {} */

.schedule-span {
    text-transform: uppercase;
}

/* .header-map {} */

.header-nav {
    display: flex;
    background-color: var(--first-color);
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
}

.header-nav-list {
    display: flex;
    
}

.header-nav-list-list {
    display: flex;
    gap: 18px;
}

.header-nav-list-button {
    display: flex;
    flex-direction: row;
    

}



/* .header-nav-list-list:first-child {
    color: var(--third-color);
} */

.header-nav-item {
    
}

.header-nav-item-link {
    color: var(--second-color);


}

.header-nav-item-item {
    
}

.header-nav-icon {
    color: var(--second-color);
}

.header-nav-button {
    color: var(--second-color);
    background-color: var(--fourth-color);
    border: none;
    height: 30px;
    min-width: 100px;
    border-radius: 15px;
    text-transform: uppercase;
}




.banner {}

.banner-heading {}

.banner-image {}

.service {}

.service-heading {
    padding-bottom: 32px;
    color: var(--third-color);
}

.service-list {
    display: flex;
    gap: 18px;
}

.service-item {
    border: 1px solid var(--first-color);
    border-radius: 12px;
    max-width: calc((100% - 54px) / 3);
    padding: 18px 24px 18px;
}

.service-item:focus {
    color: var(--second-color);
    background-color: var(--third-color);
}

.service-item:hover {
    color: var(--second-color);
    background-color: var(--third-color);
}


.service-image {
    padding-bottom: 12px;
}

.service-item-heading {
    padding-bottom: 18px;
}

.service-item-text {}

.doctors {
    padding-top: 32px;
    
}

.doctors-heading {
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 18px 24px 18px 24px;
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 24px;
    font-size: 1.5;
}

.doctors-list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.doctor-item {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    
}

.doctor-item-name {
    border: 2px solid var(--first-color);
    padding: 18px 24px 18px 24px;
    border-radius: 12px;
    flex-grow: 1.5;
    
}

.doctor-item-price {
    border: 2px solid var(--first-color);
    border-radius: 12px;
    width: 400px;
    flex-grow: 0;
    padding: 18px 24px 18px 24px;
    text-align: center;
    
}


.news-heading {
    padding-bottom: 32px;
    color: var(--third-color);
}

.news-list {
    display: flex;
    gap: 18px;
}

.news-item {
    border: 1px solid var(--first-color);
    border-radius: 12px;
    flex-basis: calc((100% - 54px) / 3);
    padding: 18px 24px 18px;
}

.news-item:focus {
    color: var(--second-color);
    background-color: var(--third-color);
}

.news-item:hover {
    color: var(--second-color);
    background-color: var(--third-color);
}


.news-image {
    padding-bottom: 12px;
}

.news-item-heading {
    padding-bottom: 18px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
    color: var(--fourth-color);
    text-align: center;
    max-width: 150px;
    
}

.footer-item-svg {
    background-color: var(--first-color);
    width: 120px;
    height: 20px;
}

.footer-logo-span {
    color: var(--first-color);
    text-transform: uppercase;
}

.footer-item {
    max-width: 150px;
}

.footer-span {
    text-transform: uppercase;
}





.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* visibility: hidden; */
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale 1.5;

}

.modal {
    background-color: #FCFCFC;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke: #2E2F42;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-button:hover .modal-close {
    fill: white;
}

.modal-close-button:focus .modal-close {
    fill: white;
}

.modal-close {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-form-legend {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-list {
    margin-bottom: 8px;

}


.modal-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}



.modal-label-container {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
    border-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    outline: none;
}

.modal-input:focus+.modal-label-icon {
    fill: #4D5AE5;
}

.modal-label-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    fill: 2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-list-second {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus-within {
    border-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    outline: none;

}

.modal-form-checkbox {
    margin-bottom: 24px;
}

.modal-form-checkbox-input:checked+.label-checkbox>span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}


.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
}

.span-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    flex-shrink: 0;
}

.checkbox-text {
    margin-left: 8px;

}

.label-checkbox:hover {
    color: #4D5AE5;
    border: none;
}

.modal-form-checkbox-link {
    color: #4D5AE5;
    text-decoration: underline;
}


.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}