:root {
    --first-color: rgb(47, 185, 175);
    --second-color: #EFEFFBff;
    --third-color: rgb(50, 160, 149);
    --fourth-color: rgb(215, 75, 77);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
}

a {
    color: var(--first-color);
    text-decoration: none;
}

button {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Open-sans", sans-serif;
    background-color: #FFFFFF;
    color: var(--first-color);
    font-size: 16px;
}
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}


.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 24px;
}
@media (min-width: 768px) {
    .container {
       }
    }
@media (min-width: 1024px) {
    .container {
        padding: 0 60px;}
    }


.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.logo {
    color: var(--fourth-color);      
    }

.logo-link {
display: flex;
flex-direction: column;
align-items: center;

}
.header-logo-svg {
    width: 132px;
    height: 32px;
    background-color: var(--first-color);
    fill: var(--fourth-color);
    padding: 6px;
}

.header-logo-span {
    color: var(--first-color);
    text-transform: uppercase;
}

.header-item {
    max-width: 120px;
    font-size: 14px;
    position: relative;
}

.geo-svg {
    position: absolute;
    left: -24px;
    top: 8px;
}

.header-item-svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    fill: var(--first-color);
}



.header-nav {
    background-color: var(--first-color);
    padding-top: 20px;
    padding-bottom: 20px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (min-width: 768px) {
    .header-nav {
        margin-bottom: 30px;
    }
}
@media (min-width: 1024px) {
    .header-nav {
        margin-bottom: 60px;
    }
}



.header-nav-list {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .header-nav-list {
        gap: 16px;
    }
}
@media (min-width: 1024px) {
    .header-nav-list {
        gap: 24px;
}
}

.header-nav-list-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.header-nav-item-link {
    color: var(--second-color);
}

.header-nav-button {
    color: var(--second-color);
    background-color: var(--fourth-color);
    border: none;
    height: 30px;
    min-width: 130px;
    border-radius: 15px;
    text-transform: uppercase;
}

/* @media (min-width: 768px) {
    .burger-button {
        display: none;
    }
} */

.burger-button {
    display: flex;
    align-items: center;
    gap: 8px;   
    background: none;
    border: none;
    cursor: pointer;    
    z-index: 900;
}

.burger-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.burger-line {
    height: 3px;
    width: 20px;
    background-color: var(--second-color);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.burger-arrow {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--second-color);
}

/* Скрыть навигацию по умолчанию на мобилках */
@media (max-width: 767px) {
    .burger-button {
        display: flex;
    }

    .header-nav-wrapper {
        position: absolute;
        top: 60px;
        /* или подгоните под вашу шапку */
        left: 0;
        width: 100%;
        background-color: var(--first-color);
        display: none;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
    }

    .header-nav-wrapper.open {
        display: flex;
    }

    .header-nav-list {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    } }






.first-page {
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .first-page {
        font-size: 24px;        
    }    
}
@media (min-width: 1024px) {
    .first-page {
        font-size: 32px;
    }    
}

.first-page-heading-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    margin-bottom: 30px;
}



.first-page-heading {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.first-page-heading-span {
    text-transform: uppercase;
    color: var(--fourth-color);
    font-size: 18px;
    background-color: var(--first-color);
    font-style: italic;
    font-weight: 800;
    padding: 6px;
}

@media (min-width: 768px) {
    .first-page-heading {
        font-size: 20px;
    }
    .first-page-heading-span {
        font-size: 28px;
    }    
} 
@media (min-width: 1024px) {
    .first-page-heading {
        font-size: 24px;
    }
    .first-page-heading-span {
        font-size: 40px;
    }    
}

.first-page-image {
    background-image: url();
    max-width: 100%;
    height: 200px;
    background-color: var(--fourth-color);
    background-repeat: no-repeat;
    margin: 0 auto 12px auto;
    background-position: center;
    border-radius: 12px;
}
@media (min-width: 768px) {
    .first-page-image {
        max-width: 80%;
    }
}
@media (min-width: 1024px) {
    .first-page-image {
        max-width: 50%;   
    }
}



.research-doctor-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.section-title {
    font-size: 16px;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 12px;
}
@media (min-width: 768px) {
    .section-title{
        font-size:20px;
    }
}
@media (min-width: 1024px) {
    .section-title{
        font-size: 24px;
    }
}


.research-list,
.doctor-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .research-list,
    .doctor-list {
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px) {
    .research-list,
    .doctor-list {
        padding-bottom: 40px;
    }
}

.research-item,
.doctor-item {
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 10px;
    border-radius: 6px;    
}
@media (min-width: 768px) {
    .research-item,
        .doctor-item {
        font-size: 16px;
        min-width: 300px;
    }
}
@media (min-width: 1024px) {
    .research-item,
    .doctor-item {
        font-size: 20px;
        min-width: 450px;
    }
}

.research-item {
    position: relative;
       
}

.research-content {
    transition: opacity 0.3s ease;
}


.research-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 10px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.research-item:hover .research-content,
.research-item:focus-within .research-content {
    opacity: 0;
}

.research-item:hover .research-item-text,
.research-item:focus-within .research-item-text {
    opacity: 1;
    pointer-events: auto;
}


.news {
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .news {
        margin-bottom: 40px;
    }
}
@media (min-width: 1024px) {
    .news {
        margin-bottom: 60px;
    }
}

.news-container {
    border: 1px solid var(--first-color);
    border-radius: 6px;
    margin-bottom: 40px;    
}

.question-button {
    color: var(--second-color);
    background-color: var(--fourth-color);
    border: none;
    height: 30px;
    max-width: 250px;
    border-radius: 15px;
    text-transform: uppercase;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    margin: 20px auto 0;
}




.footer-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--first-color);
    color: var(--second-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .footer-container {
        flex-wrap: wrap;        
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 12px;
    }
}
@media (min-width: 1024px) {
    .footer-container {
        justify-content: space-between;
    }    
}

.footer-contacts {
    padding-bottom: 12px;
}
@media (min-width: 768px) {
    .footer-tel-shadule {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-shedule {
    display: flex;
    flex-direction: column;
}
.footer-span {
    text-transform: uppercase;
    }

.footer-tel-link {
    color: var(--second-color);
}










#mapModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#mapModal.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
}

#mapModal .map-modal {
    position: relative;
    width: 90%;
    max-width: 800px;
    height: 450px;
    background: white;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#mapModal .map-modal iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0; 
}

#closeMapModal {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Модалка запись */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    opacity: 0;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale 1.5;

}

.modal {
    background-color: #FCFCFC;
    max-width: 400px;
    width: 90%;
    min-height: 480px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px 16px 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--second-color);
    border: 1px solid var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
    background-color: var(--first-color);
    border: none;    
}

.modal-close-button:focus {
    background-color: var(--first-color);
    border: none;    
}

.modal-close-button:hover .modal-close {
    fill: white;
}

.modal-close-button:focus .modal-close {
    fill: white;
}

.modal-close {
    width: 12px;
    height: 12px;
    stroke: var(--first-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-form-legend {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--first-color);
    margin-bottom: 16px;
    padding-top: 6px;
}

.modal-form-list {
    margin-bottom: 8px;
}


.modal-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--first-color);
    display: block;
    margin-bottom: 4px;
}



.modal-label-container {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--first-color);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--fourth-color);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 var(--first-color);
    outline: none;
}

.modal-input:focus+.modal-label-icon {
    fill: var(--first-color);
}

.modal-label-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    fill: var(--first-color);
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-list-second {
    margin-bottom: 16px;
}


.modal-form-choose-masseng {
    color: var(--first-color);
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-masseng {
    color: var(--first-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}



.modal-form-checkbox {
    margin-top: 12px;
    margin-bottom: 24px;
}

.modal-form-checkbox-input:checked+.label-checkbox>span {
    background-color: var(--first-color);
    border: none;
    fill: #F4F4FD;
}


.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--first-color);
}


.checkbox-text {
    margin-left: 8px;

}

.label-checkbox:hover {
    color: var(--first-color);
    border: none;
}

.modal-form-checkbox-link {
    color: var(--first-color);
    text-decoration: underline;
}


.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--fourth-color);
    border: none;
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* модалка вопрос врачу */

.modal-overlay-question {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    opacity: 0;
}

.modal-overlay-question.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-overlay-question:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale 1.5;

}

.modal-question {
    background-color: #FCFCFC;
    max-width: 400px;
    width: 90%;
    min-height: 480px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px 16px 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-question {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--second-color);
    border: 1px solid var(--third-color);
    stroke: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-question:hover {
    background-color: var(--first-color);
    border: none;
    fill: #ffffff;
}

.modal-close-button-question:focus {
    background-color: var(--first-color);
    border: none;
    fill: #ffffff;
}

.modal-close-button-question:hover .modal-close-question {
    fill: white;
}

.modal-close-button-question:focus .modal-close-question {
    fill: white;
}

.modal-close-question {
    width: 12px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-form-legend-question {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--first-color);
    margin-bottom: 16px;
    padding-right: 6px;
}

.modal-form-list-question {
    margin-bottom: 8px;

}


.modal-label-question {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--first-color);
    display: block;
    margin-bottom: 4px;
}



.modal-label-container-question {
    position: relative;
}

.modal-input-question {
    width: 100%;
    height: 40px;
    border: 1px solid var(--first-color);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 6px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    color: var(--first-color);
}

.modal-input-question:focus {
    border-color: var(--fourth-color);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    outline: none;
}

.modal-input-question:focus+.modal-label-icon {
    fill: var(--first-color);
}

.modal-input-question::placeholder {
    color: var(--first-color);
    font-size: 14p;
}

.modal-label-icon-question {
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    fill: var(--first-color);
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-list-second-question {
    margin-bottom: 16px;
}

.modal-textarea-question {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--first-color);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-question:focus-within {
    border-color: var(--first-color);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    outline: none;

}

.modal-form-choose-masseng-question {
    color: var(--first-color);
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-masseng-question {
    color: var(--first-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}



.modal-form-checkbox-question {
    margin-top: 12px;
    margin-bottom: 24px;
}

.modal-form-checkbox-input-question:checked+.label-checkbox-question>span {
    background-color: var(--first-color);
    border: none;
    fill: #F4F4FD;
}


.label-checkbox-question {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--first-color);
}


.checkbox-text-question {
    margin-left: 8px;

}

.label-checkbox:hover {
    color: var(--first-color);
    border: none;
}

.modal-form-checkbox-link-question {
    color: var(--first-color);
    text-decoration: underline;
}


.modal-button-question {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--fourth-color);
    border: none;
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}